/* import fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');


/* Custom properties */
:root {
  --light-pink-clr: #f4e9e7;
  --red-clr: #a52a2a;
  --light-dark-clr: #ffffff;
  --light-dark-clr: #655f5f;
  --dark-clr: #6a666a;
  --accent-color: #db7093;
  --green-clr: #2e8b57;
  --light-color-alt: #afb6cd;
  --light-color: #fff;
  --light-footer-color: #DCDBDC;

  --secondary-background-color: #252830;
  --primary-background-color: #131417;
 --hover-light-color: var(--light-color: #fff;);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color:linear-gradient(115deg, #4fcf70,  #fad648, #a767e5, #12bcfe,  #44ce7b );
  --transparent-light-color: rgba(255, 255, 255, .05);
  --transparent-dark-color: rgba(0, 0, 0, .75);

--font-family: "Poppins" sans-serif;
--secondary-font-family: "Roboto" sans-serif;
 
 

  --font-size-xsm: 1.3rem;
   --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --margin-bottom-sm: 1.6rem;
  --margin-bottom-md: 2.4rem;
  --margin-bottom-lg: 3.2rem;
  --margin-top-md: 2.4rem;

  --section-spacing: 4rem 0 2.5rem;
   --container-spacing: 0.2.4rem


  --gap: 2rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;

}

/* base Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  /* font-size:  10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}



body {
font-family: var(--secondary-font-family);
font-size: var(--font-size-sm);
background-color: var(--primary-background-color);
color: var(--light-color-alt);
letter-spacing: 1px;
transition: background-color .25s, color .25s;

}


a{
  text-decoration: none;
 color: inherit;
}

img{
  max-width: 100%;
  display: block;
  margin-bottom: 3rem;
 
}

ul{
  list-style: none;
}


input,
button{
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
 
}
i{
  font-size: var(--font-size-md);
 
}

/* theme color change */
body.light-theme{
  --light-color: #3d3d3d;
   --light-color-alt: rgba(0, 0, 0 , .6);
  --primary-background-color: #fff;
   --secondary-background-color: #f1f1f1;
   --hover-light-color: #fff;;
   --transparent-dark-color: #f1f1f1;
   --transparent-light-color: rgba(0, 0, 0, .1);
}


/* Reusable  Classes*/
.container{
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.screen-sm-hidden{
  display: none;
}

.d-grid{
  display: grid;
}

.section{
  padding-block: 5rem;
}

/* Header*/
.header{
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar{
  display: flex;
 align-items: center;
 justify-content: space-between;
 padding-block: 1.5rem;
}

.logo{
 font-size: var(--font-size-md);
  color: var(--light-color);
}

.logo span{
 color: var(--dark-clr);
}

.menu{
  position: absolute;
  top: 6.5rem;
  right: -1.5rem;
  width: 28rem;
  padding: 2.5rem;
  background-color: var(--secondary-background-color);
  opacity: 0;
  transform: scale(0);
  transition: opacity .25s ease-in ;
}

.list{
 display: flex;
 align-items: center;
 gap: 1.5rem;
}

.menu > .list{
 flex-direction: column;
}

.list-link.current{
 color: var(--light-color);
}

.close-menu-icon{
 display: none;
}

.btn{
 cursor: pointer;
}

.cta{
   background-color: var(--gradient-color);
   color: var(--light-color);
  line-height: 4px;
  padding: 10px 10px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}


.cta:hover,
.list-link:hover,
.btn:hover,
.btn:hover span{
 color: var(--accent-color);
}

 .moon-icon{
 display: none;
}

.light-theme .sun-icon{
 display: none;
}

.light-theme .moon-icon{
display: block;
}

/* Header javaScript styles*/
.header.activated{
 box-shadow: 0 1px .5rem var(--transparent-light-color);
}

.menu.activated{
 box-shadow: 1px  1px 1rem var(--transparent-light-color);
 opacity: 1;
transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon{
display: none;
}

.menu-toggle-icon.activated .close-menu-icon{
display: block;
}

/* Search*/
.search-form-container{
 width: 100%;
 max-width: 100%;
 height: 100vh;
 background-color: var(--primary-background-color);
 position: fixed;
 top: 0;
 left: 0;
 z-index: 9999;
 display: flex;
 opacity: 0;
 transform: scale(0);
 transform: opacity .5s;
}

.form-container-inner{
 margin: auto;
 display: flex;
 flex-direction: column;
 gap: 2rem;
 text-align: center;
}

.form{
 display: flex;
 justify-content: center;
}

.form-input,
.form-btn{
 display: inline-block;
 border: 1.2px solid var(--secondary-background-color);
 padding: 1.2rem;
}

.form-input{
 border-right: none;
 width: 100%;
 /*background-color: var(--secondary-background-color);*/
}

.form-btn{
 margin-left: -.5rem;
 border-left: none;
 background-color: var(--secondary-background-color);
 width: 8rem;
}

.form-note{
 font-size: var(--font-size-xsm);
 align-self: flex-end;
}

.form-close-btn{
 position: absolute;
 top: 1.5rem;
 right: 1.5rem;
 border: 2px solid var(--secondary-background-color);
 width: 3rem;
 height: 3rem;
}

/* form javaScript styles "something is not working with the form  come back work on to save time"!! */
.search-form-container.activated{
 opacity: 1;
 transform:  scale(1);
}


/* Featured articles*/
.featured-article{
  padding-block: 2rem;
}

.section-header-offset{
  margin-top: 7.4rem;
}

.featured-articles-container,
.featured-content{
gap: 2rem;
}

.headline-banner{
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 10rem;
  font-size: var(--font-size-xsm);
  height: 5rem;
}

.headline{
  color: var(--light-color);
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  padding: .4rem;
  height: 100%;
}

.headline span{
  height: inherit;
}

.fancy-border{
  position: relative;
  overflow: hidden;
}

.fancy-border:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: var(--gradient-color);
  background-size: 50% 100%;
  z-index: 5;
}

.fancy-border span{
  position: relative;
  z-index: 10;
  display: inline-block;
  padding: .6rem 1.5rem;
  background-color: var(--secondary-background-color);
}

.article{
  position: relative;
  min-height: var(--item-min-height-md);

}

.article-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s;
}

.article-category{
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--primary-background-color);
  color: var(--light-color);
  text-transform: uppercase;
  z-index: 10;
}

.article-data-container{
 position: absolute;
 bottom: 0;
 left: 0;
 padding: 2rem 1.5rem;
 background-color: var(--transparent-dark-color);
 z-index: 10;
 width: 100%;
 transition: background-color .5s;
}

.article:hover .article-data-container{
  background-color: var(--hover-dark-color);
  color: var(--hover-light-color);
}

.article:hover .article-data-spacer{
  background-color: var(--hover-light-color);
  
}

.article:hover .article-title{
  color: var(--hover-light-color);
}
.article-data{
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: var(--font-size-xsm);
  margin-bottom: 1rem;
}

.article-data-spacer{
  width: .5rem;
  height: .5rem;
  background-color: var(--light-color-alt);
  transform: rotate(45deg);
}

.article-title{
  font-size: var(--font-size-md);
}

.title {
  color: var(--light-color);
}

/* my btn */
 #didi_view_more_btn {
   background-color: #a52a2a;
   color: #ffffff;
   font-size: 28px;
   padding: 5px;
   margin-top: 10px;
 }


/* loader */
 .didi_modal_image{
    display: none;
  }

.didi_modal_image_show{
    transition: all .5s ease;
    display: block;
    background:rgba(128, 128, 128, 0.474);
    height:130vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    position:absolute;
    top:0;
    left:0;
     }
   
.loader {
     width: 250px;
     height: 50px;
     line-height: 50px;
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     font-family: helvetica, arial, sans-serif;
     text-transform: uppercase;
     font-weight: 900;
     color:  #ce4233;
     letter-spacing: 0.2em;
   }

.loader::before,.loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background:  #ce4233;
  position: absolute;
  animation: load .7s infinite alternate ease-in-out;
  }
     
.loader::before {
    top: 0;
  }
     
.loader::after {
  bottom: 0;
  }
   
   
@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}

}


/* newsletter */
.newsletter{
  padding-bottom: 6rem;
}

.newsletter-title{
  font-size: var(--font-size-lg);
}

.newsletter-description{
  margin-bottom: 3rem;
}

/* footer */
.footer{
  background-color: var(--secondary-background-color);
}

.footer-container{
 gap: 2rem;
}
.company-data{
  display: flex;
  flex-direction: column;
  order: 1;
}
.company-description{
  margin-block: 1.2rem;
  max-width: 75%;
}

.social-media{
  margin-bottom: var(--margin-bottom-md);
}
.copyright-notice{
  opacity: .8;
}
.footer-list{
  flex-direction: column;
  align-items: flex-start;
}
.footer-title{

  font-size: var(--font-size-md);
  text-transform: uppercase;
  margin-bottom: var(--margin-bottom-sm);
}

/* Scrollbar styles */
::-webkit-scrollbar{
  width: 1.5rem;
}

::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background-color: #3f4425;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #2e303b;
}

/* Blog post*/
.blog-post{
  padding-bottom: 5rem;
}

.blog-post-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 2.5rem;
}

.blog-hero{
  min-width: 100rem;
  height: 80vh;
  background: url(../images/10kitchen-5.jpg)
no-repeat center center / cover;
 
 
  margin: 5rem auto;
}

.blog-post-title{
  text-shadow: rgba(0, 0, 0 , .8);
  font-size: 9rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--light-color-alt);
  margin-top: 6rem;
  margin-left: rem;
}

.profile-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.img-container{
  width: 6rem;
  height: 6rem;
  background: url(../images/author-5.jpg)
  no-repeat center center / cover;
  border-radius: 0.5rem;
}

.profile-content .text{
  margin: 0 1rem;
  color: var(--light-color);
  font-size: var(--font-size-sm);
  letter-spacing: 1px;
}


.profile-content .text  h3{
  text-transform: uppercase;

}
 .myBtn{
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.3rem 1.5rem;
  background: var(--accent-color);
  border-radius: 0.2rem;
  color: var(--light-color);
  border: 2px solid var(--gradient-color);

}

 .myBtn:hover{
  background-color: var(--green-clr);
  color: white;
  transition: all .5s ease;
}

.articles{
  background-color: var(--secondary-background-color);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.articles .article-heading{
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  position: relative;
}

.article-heading h3{
  font-size: 10rem;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
  color: rgba(219, 214, 214, 0.392);
}

.article-heading h4{
  font-size: 4rem;
  font-weight: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5b5963;

}

.cards{
  display: flex;
  justify-content: space-between;
  margin: 4rem auto;
  gap: 5rem;
}

.cards .container-inner{
  cursor: pointer;

}
.blog-post-data .article-data{
  margin-bottom: 2.5rem;
  transition: all 0.4s ease;
}

.cards .card-container .img-holder{
  max-width: 100%;
  height: 24rem;
  background: url(../images/beauty.jpg) 
  no-repeat center center /cover;
  position: relative;
}


.cards .card-container.two .img-holder{
 background: url(../images/10tips.jpg) 
 no-repeat center center /cover;
 position: relative;
}


.cards .card-container.three .img-holder{
 background: url(../images/appl.jpg) 
 no-repeat center center /cover;
 position: relative;
}

.cards .card-container .img-holder a{
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.3rem 1.5rem;
  display: inline-block;
  position: absolute;
  font-weight: 400;
  bottom: 5%;
  right: 5%;
  transition: all 0.4s ease;
}

.cards .card-container:hover{
  transform: translateY(-rem);
}

.cards .card-container:hover a{
  background-color: #db7093;
  color: var(--light-color);
}

 .card-tex{
  margin-bottom: 10rem;
  background-color: var(--light-color);
  padding: 2rem;
  box-shadow: 0 0 0.3rem var(--light-color);
  
}

 .card-tex h4{
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;

}

 .card-tex p{
  max-width: 50rem;
 margin-bottom: 1rem;
  font-size: 1.2rem;
  

}

.articles .button{
  margin: 0 auto;
  text-align: center;
}

.article .myBtn{
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 200;
  border-radius: none;
  padding: 0.5rem 3rem;
}
.blog-post-data img{
  width: 100%;
  height: var(--item-min-height-sm);
  object-fit: cover;
  object-position: center 10%;
}
.blog-post-container .container{
  display: grid;
  max-width: 90rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  margin-top: -12rem;
}

.quote{
  background-color: var(--secondary-background-color);
  padding: 2.5rem;
 box-shadow: inset 0.5rem 0 0 var(--green-clr);
}
.quote p{
  font-style: italic;
}

.quote span i{
  font-size: 3.5rem;
}

.author{
  margin-top: 5rem;
  gap: 2rem;
  background-color: var(--secondary-background-color);
}

.author-image-box{
  position: relative;
  height: var(--item-min-height-sm);

}

.author-about{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.author-name{ 
  color: var(--light-color);
  font-weight: 400;
}
.author p{
 max-width: 50rem; 
 margin-bottom: 1rem;
}
.author-about .social-media{
  margin-top: auto;
  margin-bottom: 0;
}


/* Media queries*/
@media screen and (min-width: 360px){
  .blog-hero {
  min-width: 25rem;
  height: 25rem;
}

.cards {
  display: block;
}

.article-heading h3 {
  font-size: 5rem;
}

.blog-post-title {
  
  font-size: 1rem;
}

}

@media screen and (min-width: 412px){
  .blog-hero {
  min-width: 25rem;
  height: 29rem;
}
.cards {
  display: block;
}

.article-heading h3 {
  font-size: 5rem;
}

.blog-post-title {
  font-size: 1rem;
}

}


@media screen and (min-width: 700px) {
  .newsletter-description{
    max-width: 40rem;
  }

  .form-container-inner{
    align-items: center;
  }
  .company-data{
    order: 0;
  }

  .author{
    grid-template-columns: 25rem 1ifr;
  }
   .blog-hero {
 min-width: 25rem;
 height: 29rem;
}
}

@media screen and (min-width: 810px){
  .featured-content{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem repeat(4, ifr);
  }
  .headline-banner{
    grid-column:  1/-1;
    font-size: var(--font-size-sm);
  }

.blog-post-data img{
  height: var(--item-min-height-md);
}
 .blog-hero {
 min-width: 25rem;
 height: 43rem;
}
}

@media screen and (min-width: 768px){
   .blog-hero {
 min-width: 25rem;
 height: 30rem;
}

}

@media screen and (min-width: 1024px){
  .menu{
    position: inherit;
    width: inherit;
    padding: inherit;
    background-color: transparent;
    opacity: inherit;
    transform: inherit;
  }
  .menu > .list{
    flex-direction: row;
  }
  .screen-lg-hidden{
    display: none;
  }
  .screen-sm-hidden{
    display: block;
  }
  .sign-up-btn{
    padding: .4rem;
  }
  .btn .fancy-border:hover::before{
     animation:  animate_border .75s linear
     infinite;
  }
  @keyframes animate_border {
    to{
      transform: translateX(-50%);
    }
  }
  .featured-articles-container{
    grid-template-columns: 1fr 40rem;
  }
  .trending-post-image-box{
    width: 10rem;
    height: 10rem;
  }
  .popular-tags-container{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-container{
    grid-template-columns: repeat(5, 1fr);
  }
  .company-data{
    grid-column: span 2;
  }
  .company-description{
    max-width: 85%;
  }
  .copyright-notice{
    margin-top: auto;
  }
  .blog-post-data img{
    height: 40rem;
  }
   .blog-hero {
 min-width: 25rem;
 height: 32rem;
}
}


@media screen and (min-width: 1200px){
  .older-post-grid-wrapper{
    grid-template-columns: repeat(2, ifr);
  }
}


@media screen and (min-width: 1500px){
  .featured-article{
    grid-column: 3/1;
  }
  .featured-article-1{
    grid-column: 1/3;
    grid-row: 2/-1;
  }
}

















